@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
