.sidenav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
}

.sidenav-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.sidenav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: #000;
}

.desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    .sidenav-container {
        width: 20%;
        min-width: 200px;
        max-width: 400px;
    }
    .desktop {
        display: flex;
    }
}